*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    position: relative;
    background: linear-gradient(rgba(40, 37, 89), #111425);
    box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45);
}

.ejercicios-top-contenedor-texto{
    position: relative;
    display: flex;
    flex-direction: row;
    top: 100px;
    justify-content: space-between;
    padding: 50px;
}

.ejercicios-top-contenedor-texto .h3-Index{
    padding: 50px, 0;
    top: 50px;
}


/*Tipografías*/

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    color: white;
    text-align: left;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: white;
    text-align: center;
}

h3{
    font-family: 'Nunito', sans-serif;
    font-size: 32;
    font-weight: 400;
    color: white;
    text-align: center;
}

h4{
    font-family: 'Nunito', sans-serif;
    font-size: 26;
    font-weight: 400;
    color: white;
    text-align: center; 
}

h6{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: rgb(203, 203, 243);
    text-align: left; 
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: 32;
    font-weight: 400;
    color: white;
    text-align: center; 
}


.frase-fondo{
    background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1650501547/Por%20Ti/frase-ejercicios_ow8ynv.png);
    width: 102%;
    height: 385px;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    left: -5px;
}

.frase-fondo-texto{
    position: relative;
    top: 35%;
    left: 30%;
    text-align: center;
    width: 40%
}

.frase-fondo-texto h2{
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

/*Contenedores arrriba*/

.contenedor-ejercicios{
    position: relative;
    top: 100px;
}

.ejercicios-top-contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 50px;
}

.ejercicios-top-contenedor-hijo{
    width: 370px;
    border-radius: 30px;
    background-color: rgba(59, 55, 131, 0.8);
}

.ejercicios-top-contenedor-hijo img:hover,
.ejercicios-top-contenedor-hijo img:focus{
   opacity: 50%;
   cursor: pointer;
}

/*Contenedores medios*/

.mis-ejercicios-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
}

.mis-ejercicios-contenedor img{
    height: 304px;
}

.chips{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    z-index: 100;
    margin-top: 50px;
    margin-bottom: 50px;
}

.chip-hija{
    display: flex;
    flex-direction: row;
}

span{
    margin-right: 10px;
}

.fa-heart{
    color:rgb(138, 52, 52)
}

button{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: medium;
    border-radius: 50px;
    text-decoration: none;
    border: none;
    padding: 15px;
    width:  16em;
    background-color: rgb(254, 223, 200);
    color: rgb(65, 64, 105);
    }
    
    button:hover{
    background-color: rgba(254, 223, 200, 0.8);
    transition:background-color 0.3s ease-in-out;
    cursor: pointer;
    }

    .contenedor-especialista{
        text-align: center;
        z-index: 100;
    }

/*Prueba hover*/

  
  .ejercicios-cont{
      position: relative;
      z-index: 13030;
  }