
#primary_nav_wrap
{
z-index: 4;
position: fixed;
top: 5px;
height: 30px;
display: flex;
flex-direction: row;
align-content: center;
text-align: center;
top: 60px;
left: 150px;
margin-bottom: 20px;
}

nav *{
	flex-direction: row;
}

#primary_nav_wrap ul
{
	display: flex;
	align-items: center;
	text-align: center;
	list-style:none;
	justify-content: space-between;
	float:center;
	gap: 80px;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul a
{
	display:block;
	color: white;
	text-decoration:none;
	font-weight:100;
	font-size:14px;
	line-height:32px;
	padding:0 15px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#primary_nav_wrap ul li
{
	margin:0;
	padding:0
}

#primary_nav_wrap ul li:hover
{
	background:#F45713;
}

#primary_nav_wrap ul ul
{
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}

#play-icono{
	width: 150px;
  }

.far{
color: white;
}


.fas{
	color:white;
}

.far:hover{
	color: #e57d0c;
	}

.fas:hover{
	color: #e57d0c;
}

