<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>5 sentidos</title>
  <%- include('./partials/favicon') %>  
  <!--JQUERY-->
  <script src="js/script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!--CSS-->
  <link rel="stylesheet" href="/css/5sentidos2.css">
  <link rel="stylesheet" href="/css/navbar.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
  <!--Kit FontAwesome--> 
  <script src="https://kit.fontawesome.com/60756a3678.js" crossorigin="anonymous"></script>
 
  <%- include('./partials/nav') %>  
<main>
   <!-- Tittle -->
  <div class="titles">
    <h2 style="margin-top: 100px;">5-4-3-2-1 sentidos</h2>
    <p>Es una técnica auto-calmante para aliviar la ansiedad, </p>
    <p>consiste en utilizar los cinco sentidos para tomar conciencia del cuerpo.aaaaa</p>
  </div>
  
  <body>
 
        <div class="container">
            <div class="progress-bar">
                <div class="step">
                    <p>Vista</p>
                    <div class="bullet">
                        <span>1</span>
                    </div>
                    <div class="check fas fa-check"></div>
                </div>
                <div class="step">
                    <p>Oído</p>
                    <div class="bullet">
                        <span>2</span>
                    </div>
                    <div class="check fas fa-check"></div>
                </div>
                <div class="step">
                    <p>Tacto</p>
                    <div class="bullet">
                        <span>3</span>
                    </div>
                    <div class="check fas fa-check"></div>
                </div>
                <div class="step">
                    <p>Olfato</p>
                    <div class="bullet">
                        <span>4</span>
                    </div>
                    <div class="check fas fa-check"></div>
                </div>
                <div class="step">
                    <p>Sabor</p>
                    <div class="bullet">
                        <span>5</span>
                    </div>
                    <div class="check fas fa-check"></div>
                </div>
            </div>
            <div class="form-outer">
                <form action="#">

                    <div class="page slide-page">
                        <div class="title">Escribe 5 cosas que puedas ver.</div>
                        <div class="field">
                            <input type="text" placeholder="1."/>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="2."/>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="3."/>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="4."/>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="5."/>
                        </div>
                        <div class="field">
                            <button class="firstNext next">Siguiente</button>
                        </div>
                    </div>

                    <div class="page slide-page">
                        <div class="title">Escribe 4 cosas que puedas sentir.</div>
                        <div class="field">
                            <input type="text" placeholder="1."/>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="2."/>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="3."/>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="4."/>
                        </div>
                        <div class="field">
                            <button class="prev-1 prev">Anterior</button>
                            <button class="firstNext next">Siguiente</button>
                        </div>
                    </div>

                    <div class="page">
                        <div class="title">Escribe 3 sonidos que alcances a escuchar.</div>
                        <div class="field">
                            <input type="text" placeholder="1."/>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="2."/>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="3."/>
                        </div>
                        <div class="field btns">
                            <button class="prev-1 prev">Anterior</button>
                            <button class="next-1 next">Siguiente</button>
                        </div>
                    </div>
                    <div class="page">
                        <div class="title">Escribe 2 olores que percibas.</div>
                        <div class="field">
                            <input type="text" placeholder="1."/>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="2."/>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="3."/>
                        </div>
                        <div class="field btns">
                            <button class="prev-2 prev">Anterior</button>
                            <button class="next-2 next">Siguiente</button>
                        </div>
                    </div>
                    <div class="page">
                        <div class="title">Escribe un sabor que puedas percibir.</div>
                        <div class="field">
                            <input type="text" placeholder="1."/>
                        </div>
                        <div class="title">¡Felicidades! Concluiste el ejercicio.</div>
                    </div>
                </form>
            </div>
        </div>

      

        <script>
initMultiStepForm();

function initMultiStepForm() {
    const progressNumber = document.querySelectorAll(".step").length;
    const slidePage = document.querySelector(".slide-page");
    const submitBtn = document.querySelector(".submit");
    const progressText = document.querySelectorAll(".step p");
    const progressCheck = document.querySelectorAll(".step .check");
    const bullet = document.querySelectorAll(".step .bullet");
    const pages = document.querySelectorAll(".page");
    const nextButtons = document.querySelectorAll(".next");
    const prevButtons = document.querySelectorAll(".prev");
    const stepsNumber = pages.length;

    if (progressNumber !== stepsNumber) {
        console.warn(
            "Error, number of steps in progress bar do not match number of pages"
        );
    }

    document.documentElement.style.setProperty("--stepNumber", stepsNumber);

    let current = 1;

    for (let i = 0; i < nextButtons.length; i++) {
        nextButtons[i].addEventListener("click", function (event) {
            event.preventDefault();

            inputsValid = validateInputs(this);
            // inputsValid = true;

            if (inputsValid) {
                slidePage.style.marginLeft = `-${
                    (100 / stepsNumber) * current
                }%`;
                bullet[current - 1].classList.add("active");
                progressCheck[current - 1].classList.add("active");
                progressText[current - 1].classList.add("active");
                current += 1;
            }
        });
    }

    for (let i = 0; i < prevButtons.length; i++) {
        prevButtons[i].addEventListener("click", function (event) {
            event.preventDefault();
            slidePage.style.marginLeft = `-${
                (100 / stepsNumber) * (current - 2)
            }%`;
            bullet[current - 2].classList.remove("active");
            progressCheck[current - 2].classList.remove("active");
            progressText[current - 2].classList.remove("active");
            current -= 1;
        });
    }
    submitBtn.addEventListener("click", function () {
        bullet[current - 1].classList.add("active");
        progressCheck[current - 1].classList.add("active");
        progressText[current - 1].classList.add("active");
        current += 1;
        setTimeout(function () {
            alert("Your Form Successfully Signed up");
            location.reload();
        }, 800);
    });

    function validateInputs(ths) {
        let inputsValid = true;

        const inputs =
            ths.parentElement.parentElement.querySelectorAll("input");
        for (let i = 0; i < inputs.length; i++) {
            const valid = inputs[i].checkValidity();
            if (!valid) {
                inputsValid = false;
                inputs[i].classList.add("invalid-input");
            } else {
                inputs[i].classList.remove("invalid-input");
            }
        }
        return inputsValid;
    }
}

        </script>
          
    </body>
    <div class="back">
        <a href="/misejercicios"><button>Volver</button></a>
    </div>
</main>
    <br>
</html>
