!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alimentos</title>

      <!--FAVICON--> 
      <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
      
      <!--CSS--> 
      <link rel="stylesheet" href="/css/navbar.css" type="text/css">
      <link rel="stylesheet" href="/css/footer.css" type="text/css">     
      <link rel="stylesheet" href="/css/alimentos.css" type="text/css">

      <!--Tipografías--> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <!--Poppins--> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <!--Nunito--> 
     <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
      <!--Kit FontAwesome--> 
     <script src="https://kit.fontawesome.com/60756a3678.js" crossorigin="anonymous"></script>
    </head>

    <%- include('./partials/nav') %>
<body>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">


<div class="titles" style="margin-bottom: -50px; color: blanchedalmond ">
    <h1>Alimentos del día</h1>
    </div>

    <div class="App">
        <div class="Section-list">

    <div class="Title-flex">
        <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1653071659/Por%20Ti/alimentos-icono_s4ddiu.png"/>
      <h2>¿Qué quieres comer hoy?</h2>
      </div>

      <p class="App-p">Te compartimos algunas recetas que pueden ayudarte a mejorar tu salud.</p>


<div class="Recetas-cont">

    <div class="receta1">
    <div class="receta">
          <img class="img-recetas" src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1653073202/Por%20Ti/micheile-dot-com-t05q7TZObzc-unsplash_szqils.jpg"></img>      
          <p>Salmón al horno con miel y limón</p>
          <div class="Receta-fav-icon">
          <span class="fa-solid fa-star"></span>
          </div>
          </div>
        </div>
    
        <div class="receta2">
          <div class="receta">
          <img class="img-recetas" src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1658800788/Por%20Ti/Captura_de_Pantalla_2022-07-25_a_la_s_20.58.31_a9uvot.png"></img>      
          <p>Ensalada de remolacha y aguacate</p>
         <div class="Receta-fav-icon">
          <span class="fa-solid fa-star"></span>
          </div>
          </div>
        </div>
    
        <div class="receta3">
          <div class="Receta">
          <img class="img-recetas" src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1658800845/Por%20Ti/Captura_de_Pantalla_2022-07-25_a_la_s_21.00.21_qywly5.png"></img>      
          <p>Pollo cubierto con salsa de piña </p>
          <div class="Receta-fav-icon">
          <span class="fa-solid fa-star"></span>
          </div>
          </div>
          </div>
    
          <div class="receta4">
          <div class="Receta">
          <img class="img-recetas" src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1658800944/Por%20Ti/Captura_de_Pantalla_2022-07-25_a_la_s_21.01.55_fx4bps.png"></img>      
          <p>Ensalada de coliflor rostizada y lentejas</p>
        <div class="Receta-fav-icon">
          <span class="fa-solid fa-star"></span>
          </div>  
          </div>
        </div>
    
          
          </div>
        </div>

        <div style="height: 25px;"></div>

    <div class='Section-detail-1' style="display: block">
        
            <h2 class='Detalle-title'>Salmón al horno con miel y limón</h2>
            <div class="Detalle-flex">
                <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1653073202/Por%20Ti/micheile-dot-com-t05q7TZObzc-unsplash_szqils.jpg"></img>
                
    
    <div class="Detalle-flex-li">
    <ul>
    <h3>Ingredientes</h3>
    <li>2 Lomos de salmón</li>
    <li>2 Cucharadas de miel</li>
    <li>2 Dientes de ajo</li>
    <li>1 Limón</li>
    <li>Aceite de oliva extra virgen</li>
    <li>Romero</li>
    </ul>
    </div>
            </div>
    
     <h3 class="h3">Elaboración</h3>
     <ul>
    <li>Comenzaremos nuestra receta poniendo el horno a precalentar a 200ºC. Mientras tanto, iremos preparando el salmón.</li>
    <li>Ralla y exprime el limón. En un bol, mezclamos la miel, una cucharada de aceite de oliva virgen extra, el jugo y la ralladura del limón y los ajos bien picados, mezcla bien.</li>
    <li>Coloca el salmón en una fuente apta para el horno, salpimenta al gusto y, con un pincel de cocina, píntalo bien con la mezcla que hemos preparado de miel y limón.</li>
    <li>Hornea los lomos de salmón durante unos 10 minutos.</li>
    <li>Pasado ese tiempo, sácalo del horno y espolvorea un poco de romero.</li>    
</ul>
          </div>

          <!--RECETA 2 -->
          <div class='Section-detail-2' style="display: none">
        
            <h2 class='Detalle-title'>Ensalada de remolacha y aguacate</h2>
            <div class="Detalle-flex">
                <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1658800788/Por%20Ti/Captura_de_Pantalla_2022-07-25_a_la_s_20.58.31_a9uvot.png"></img>
                
    
    <div class="Detalle-flex-li">
    <ul>
    <h3>Ingredientes</h3>
    <li>1 Remolacha</li>
    <li>2 Aguacates</li>
    <li>80 gramos de Cebolla blanca</li>
    <li>1 rama de Cilantro</li>
    <li>2 Limones</li>
    <li>1 chorro de Aceite de oliva</li>
    <li>1 pizca de Sal</li>
    <li>1 pizca de pimienta</li>
    </ul>
    </div>
            </div>
    
     <h3 class="h3">Elaboración</h3>
     <ul>
    <li>En una olla con agua hirviendo, cocina la remolacha cortada por la mitad, durante 45 minutos o hasta que esté blanda. <br>Cuando esté lista, retírala del fuego, espera a que enfríe, pélala y córtala en cubos medianos.</li>
    <li>Aparte, pela y corta el aguacate en cubos pequeños, adereza con limón, aceite de oliva, sal y pimienta.</li>
    <li>Es momento de agregar la cebolla cortada en plumas, el cilantro cortado finamente y aderezar con zumo de limón, aceite de oliva, sal y pimienta. <br>Mezcla todo muy bien.</li>
    <li>Sirve la ensalada de remolacha y sobre ella agrega el aguacate. </li>
    </ul>
          </div>

          <!--RECETA 3 -->

          <div class='Section-detail-3' style="display: none">
            <div style="height: 25px;"></div>
            <h2 class='Detalle-title'>Pollo cubierto con salsa de piña</h2>
            <div class="Detalle-flex">
                <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1658800845/Por%20Ti/Captura_de_Pantalla_2022-07-25_a_la_s_21.00.21_qywly5.png"></img>
                
    
    <div class="Detalle-flex-li">
    <ul>
    <h3>Ingredientes</h3>
    <li>500 gramos de pechuga de pollo en pedazos pequeños</li>
    <li>1/29 taza de harina de trigo integral</li>
    <li>1/2 taza de piña en cuadritos</li>
    <li>1 cucharada de aceite de oliva para la vinagreta</li>
    <li>1 cucharadita mejorana seca para la compota</li>
    <li>1/8 cucharadita de sal marina o sal común</li>
    <li>1/8 cucharadita pimienta negra al gusto</li>
    </ul>
    </div>
            </div>
    
     <h3 class="h3">Elaboración</h3>
     <ul>
    <li>Colocar en una bolsa de plástico con cierre hermético la harina, la sal y la pimienta negra. </li>
    <li>Añadir el pollo. Cerrar la bolsa y sacudir hasta que el pollo esté cubierto.</li>
    <li>Colocar en una sartén grande a fuego medio la mitad del aceite de oliva.</li>
    <li>Añadir el pollo y saltear por 2 minutos a cada lado.</li>
    <li>Retirar el pollo de la sartén y mantener tibio.</li>
    <li>En una sartén, calentar el resto del aceite.</li>
    <li>Saltear la cebolla por 5 minutos o hasta que esté un poco dorada.</li>
    <li>Añadir la piña y la mejorana y saltearla por 5 minutos.</li>
    <li>Añadir el pollo y el jugo de piña, calentar hasta que hierva y después a fuego lento durante 10 minutos.</li>
    </ul>
          </div>

           <!--RECETA 4 -->

           <div class='Section-detail-4' style="display: none">
            <div style="height: 25px;"></div>
            <h2 class='Detalle-title'>Ensalada de coliflor rostizada y lentejas</h2>
            <div class="Detalle-flex">
            <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1658800944/Por%20Ti/Captura_de_Pantalla_2022-07-25_a_la_s_21.01.55_fx4bps.png"></img>
                
    
    <div class="Detalle-flex-li">
    <ul>
    <h3>Ingredientes</h3>
    <li>1 taza de col morada cruda picada</li>
    <li>1 cucharadita de aceite de oliva</li>
    <li>1/2 taza de lenteja cocida</li>
    <li>1/2 taza de  Zanahoria cruda picada/rallada</li>
    <li>1 cucharadita mejorana seca para la compota</li>
    <li>1 coliflor cocida</li>
    </ul>
    </div>
            </div>
    
     <h3 class="h3">Elaboración</h3>
     <ul>
    <li>Cocer las lentejas o usar de lata.</li>
    <li>Asar el coliflor y la cebolla.</li>
    <li>Picar la col morada en crudo.</li>
    <li>Mezclar todos los ingredientes.</li>
    </ul>
          </div>

</div>
</div>

<div class="back" style="margin-top: -20px">
    <a href="/misejercicios"><button>Volver</button></a>
</div>
<br>
</body>
<script>
    const btn1 = document.querySelector(".receta1");
    const btn2 = document.querySelector(".receta2");
    const btn3 = document.querySelector(".receta3");
    const btn4 = document.querySelector(".receta4");

    const section1 = document.querySelector(".Section-detail-1");
    const section2 = document.querySelector(".Section-detail-2");
    const section3 = document.querySelector(".Section-detail-3");
    const section4 = document.querySelector(".Section-detail-4");

    btn1.addEventListener("click", appear1);
    btn2.addEventListener("click", appear2);
    btn3.addEventListener("click", appear3);
    btn4.addEventListener("click", appear4);
    
    function appear1() {
    section1.style.display = "block";
    section2.style.display = "none";
    section3.style.display = "none";
    section4.style.display = "none";
    }

    function appear2() {
    section2.style.display = "block";
    section1.style.display = "none";
    section3.style.display = "none";
    section4.style.display = "none";
    }

    function appear3() {
    section3.style.display = "block";
    section1.style.display = "none";
    section2.style.display = "none";
    section4.style.display = "none";
    }

    function appear4() {
    section4.style.display = "block";
    section2.style.display = "none";
    section3.style.display = "none";
    section1.style.display = "none";
    }


    function disappear1() {
    section1.style.display = "none";
    }

    function disappear2() {
    section2.style.display = "none";
    }

    function disappear3() {
    section3.style.display = "none";
    }

    function disappear4() {
    section4.style.display = "none";
    }


</script>
<%- include('./partials/footer') %>
</html>
