<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de ansiedad
    </title>

      <!--FAVICON--> 
      <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
      
      <!--CSS--> 
      <link rel="stylesheet" href="/css/navbar.css" type="text/css">
      <link rel="stylesheet" href="/css/footer.css" type="text/css">     
  
      <link rel="stylesheet" href="/css/ansiedad.css">
      <!--Tipografías--> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <!--Poppins--> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <!--Nunito--> 
     <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
      <!--Kit FontAwesome--> 
     <script src="https://kit.fontawesome.com/60756a3678.js" crossorigin="anonymous"></script>
    </head>

    <%- include('./partials/nav') %>
    <!--PRUEBA 1-->

    <body>

      <div class="titles">
          <h1 style="font-family: Poppins, sans-serif;">Hoja de registro de ansiedad</h1>
          <p>La hoja de registro de ansiedad es una forma de llevar un seguimiento de los momentos en los que se está sintiendo ansiedad, de esta forma detectar oportunidades de mejora y sus causas. 
           <!-- <p>Además si se lleva un proceso de terapia, es una gran herramienta de apoyo para dar seguimiento del tratamiento proporcionado por el terapeuta. -->
            <br>
            <p>Te compartimos dos archivos descargables que podrás utilizar.</p>
            </div>
          <br>
        
          <br>
          <div class="pdf">
            <embed src="/docs/Hoja_ansiedad1.pdf" type="application/pdf" width="420px" height="630px"/>
            <embed src="/docs/Hoja_ansiedad2.pdf" type="application/pdf" width="420px" height="630px"/>
          </div>

  
      <div class="back">
          <a href="/misejercicios"><button>Volver</button></a>
      </div>

    </body>
    <footer style="padding:40px 40px">
      <!--Logo Fun N Skate-->
               <div style="display:flex; flex-direction:column; text-align: left; padding-left: 30px">
                  <img class="logo-footer" style="margin:20px 0 30px 0;" src = '/img/Logo_Horizontal.png' alt='Logo'>
                 <!-- <p style="padding-left: 40px; font-size: 13px; opacity: 0.6">En Por Ti buscamos fomentar el autocuidado de la salud integral.</p>-->
              </div>
              
              <!--Logotipos de redes sociales-->
              <div class="caja-redes">
                  <h4 class="titulo-redes" style="padding-top: 30px; margin: -10px; margin-bottom: 10px; font-size: 21px; font-family: Poppins, Nunito, sans-serif;">¡Síguenos!</h4>
                  <a href="facebook">
                      <img class="redes" src = '/img/facebook.png' alt='facebook'>
                  </a>
                  <a href="instagram">
                      <img class="redes" src = '/img/insta.png' alt='instagram'>
                  </a> 
          
              </div>
              <!--Area de suscripción -->
            
      
              <div class="cont-list">
          
                  <ul>
                      <li>
                          <a href="#sucursal1">Podcast</a>
                      </li>
                      <li>
                          <a href="#sucursal2">Blog</a>
                      </li>
                      <li>
                          <a href="#sucursal3">YouTube</a>
                      </li>
                  </ul>
              </div>
            
          
    </footer>
    </html>