!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arteterapia</title>

      <!--FAVICON--> 
      <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
      
      <!--CSS--> 
      <link rel="stylesheet" href="/css/navbar.css" type="text/css">
      <link rel="stylesheet" href="/css/footer.css" type="text/css">     
      <link rel="stylesheet" href="/css/arteterapia.css" type="text/css">
      <!--Tipografías--> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <!--Poppins--> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <!--Nunito--> 
     <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
      <!--Kit FontAwesome--> 
     <script src="https://kit.fontawesome.com/60756a3678.js" crossorigin="anonymous"></script>
    </head>

    <%- include('./partials/nav') %>

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<div class="titles">
    <h1>Arteterapia</h1>
    <br>
    <br>
    <p>Todos podemos llegar a sentir emociones que nos abruman y no sabemos como expresarlas o manejarlas. 
    La arteterapia es una herramienta que puedes utilizar para calmar la mente y tener una mayor claridad en diferentes situaciones. 
    Lo mejor es que solo necesitas un lápiz y una hoja de papel para realizarlos. </p>
    <br>
    <br>
    <p>Identifica la emoción que estás sintiendo y práctica los siguientes ejercicios que te ayudarán a sentirte mejor. </p>

</div>

<section class="hero-section">
  <div class="card-grid">
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1658169555/Por%20Ti/lineas_card_nemri8.png)"></div>
      <div class="card__content">
        <p class="card__category">ENOJADO</p>
        <h3 class="card__heading">Dibuja lineas</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1658169558/Por%20Ti/arcoiris_flores_card_o8vhxe.png)"></div>
      <div class="card__content">
        <p class="card__category">TRISTE</p>
        <h3 class="card__heading">Dibuja un arcoiris y flores</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1658169558/Por%20Ti/patrones_card_ie0riv.png)"></div>
      <div class="card__content">
        <p class="card__category">TENSO</p>
        <h3 class="card__heading">Dibuja patrones</h3>
      </div>
    </li>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1658169555/Por%20Ti/laberinto_card_xaepif.png)"></div>
      <div class="card__content">
        <p class="card__category">NOSTÁLGICO</p>
        <h3 class="card__heading">Dibuja un laberinto</h3>
      </div>
    </a>

    <a class="card" href="#">
        <div class="card__background" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1658169558/Por%20Ti/espirales_card_e1mttl.png)"></div>
        <div class="card__content">
          <p class="card__category">ATRAPADO</p>
          <h3 class="card__heading">Dibuja espirales</h3>
        </div>
      </a>

      <a class="card" href="#">
        <div class="card__background" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1658169556/Por%20Ti/puntos_card_ludi5q.png)"></div>
        <div class="card__content">
          <p class="card__category">DISTRAIDO</p>
          <h3 class="card__heading">Dibuja puntos</h3>
        </div>
      </a>

      <a class="card" href="#">
        <div class="card__background" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1658169555/Por%20Ti/paisajes_card_kmqcpm.png)"></div>
        <div class="card__content">
          <p class="card__category">APÁTICO</p>
          <h3 class="card__heading">Dibuja paisajes</h3>
        </div>
      </a>

      <a class="card" href="#">
        <div class="card__background" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1658169555/Por%20Ti/origami_card_jx77og.png)"></div>
        <div class="card__content">
          <p class="card__category">ANSIOSO</p>
          <h3 class="card__heading">Haz origami</h3>
        </div>
      </a>
  <div>
</section>

<div class="back">
    <a href="/misejercicios"><button>Volver</button></a>
</div>
<br>
</body>
<%- include('./partials/footer') %>
</html>
