<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis ejercicios
    </title>

      <!--FAVICON--> 
      <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
      
      <!--CSS--> 
      <link rel="stylesheet" href="/css/navbar.css" type="text/css">
      <link rel="stylesheet" href="/css/ejercicios.css" type="text/css">
      <link rel="stylesheet" href="/css/ejercicios-cont.css" type="text/css">

      <!--Tipografías--> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <!--Poppins--> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <!--Nunito--> 
     <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
      <!--Kit FontAwesome--> 
     <script src="https://kit.fontawesome.com/60756a3678.js" crossorigin="anonymous"></script>
    </head>

    <%- include('./partials/nav') %>

<body>

  <!--Corazón-->
  <script>
   let i =document.getElementByClass("card-ejercicio-heart");
   i.innerHTML += "<i class="fa-solid fa-heart"></i>";
    </script>

        <!--Frase--> 
    <div class="frase-fondo">
        <div class="frase-fondo-texto"> 
          <script>
            var frases = new Array ("La vida es como montar en bicicleta. Para mantener el equilibrio tienes que avanzar", "Las dudas no se superan, convives siempre con ellas. Lo que sí que puede hacer uno es dar lo máximo cada día", "Importa mucho más lo que tú piensas de ti mismo que lo que los otros opinen de ti");
            var x = 0;
            function frase()
            {
              if(x > 2)
              {
                x = 0;
              }
              document.getElementById("frase").textContent = frases[x];
              x++;
            }
            temporizador = setInterval("frase()", 5000);
            if(res.locals.isLogged == false){
              temporizador = clearInterval("frase()");
            }
          </script>
          <h2 id="frase">
            La vida es como montar en bicicleta. Para mantener el equilibrio tienes que avanzar
</h2>
          <div class="smallTitle">
              <h2 style="text-align:center; font-weight: 800; margin-top: 25px;"><script>
                var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
                var f=new Date();
                document.write(f.getDate() + " de " + meses[f.getMonth()]);
                </script></h2>
              </div>
            </div>
        </div>

        <!--Top containers-->
        <main>
        <div class="ejercicios-top-contenedor">

          <a href="https://por-ti-recetas.herokuapp.com/"><div class="ejercicios-top-contenedor-hijo" style="display:flex; justify-content:baseline; color: white;">
                <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1650503255/Por%20Ti/ejercicios-card1_bqpyfa.svg" style="width: 100%">
            </div></a>

           <a href="/users/miperfil"><div class="ejercicios-top-contenedor-hijo" style="display:flex; justify-content:baseline; color: white;">
                <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1650503349/Por%20Ti/ejercicios-card2_kmad1t.svg" style="width: 100%">
            </div></a> 
            
            <a href="/ejercicios/organizador-de-tareas"><div class="ejercicios-top-contenedor-hijo" style="display:flex; justify-content:baseline; color: white;">
                <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1650503354/Por%20Ti/ejercicios-card3_e1yx4t.svg" style="width: 100%">
            </div></a> 

        </div>

      
        

      <!--Código ejercicios-->
      <h2 style="margin-top: 100px;">Mis ejercicios</h2>
      <h3 style="margin-top: 25px;">Desliza la pantalla a la izquierda para ver más ejercicios.</h2>

      <div class="ejercicios-box-cont" style="margin-top: 50px; padding-left: 75px;">

        <a href="/ejercicios/registro-de-ansiedad"> <div class="box" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1651189737/Por%20Ti/registro-ansiedad-card_bpsazv.svg);"><div class="card-ejercicio-text">
          <h2>Hoja de registro de ansiedad</h2><h6>12 min</h6>
          <h4>Visualiza los momentos en que sientes ansiedad.</h4></div></div></a>
     
          <a href="/ejercicios/respiracion"> <div class="box" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1655489715/Por%20Ti/Ejercicio-fondo-respiracion2_qnjx2i.png);"><div class="card-ejercicio-text">
            <h2>Técnicas de respiración</h2><h6>12 min</h6>
            <div class="h4-card-text"><h4>Reduce el estrés y ansiedad usando la respiración.</h4></div></div></div>
          </a>

          <a href="/ejercicios/tapping"><div class="box"><div class="card-ejercicio-text">
      <h2>Tapping</h2><h6>12 min</h6>
        <h4>Técnica auto-calmante para armonizar emociones.</h4></div></div>
      </a>

        <div class="box" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1650503368/Por%20Ti/ejercicios-card6_tslgtr.svg);">
          <div class="card-ejercicio-heart">
            <i class="fa-light fa-heart"></i>
          </div>

          <a href="/ejercicios/arteterapia"><div class="card-ejercicio-text">
          <h2>Arteterapia</h2><h6>12 min</h6>
        <h4>Conecta con tus emociones a través del arte.</h4></div></div>
      </a>

      <a href="/ejercicios/imaginacion-guiada">
        <div class="box" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1651019618/Por%20Ti/Imaginacio%CC%81n_guiadaejercicios_oe6tbo.png); width:373px;"><div class="card-ejercicio-text">
          <h2>Imaginación guiada</h2><h6>12 min</h6>
          <h4>Visualiza para redirigir tus pensamientos.</h4></div></div>
        </a>

        <a href="/ejercicios/plato-del-buen-comer">
          <div class="box" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1651019619/Por%20Ti/Plato_del_buen_comerejercicios_bkege6.png);"><div class="card-ejercicio-text">
            <h2>Plato del buen comer</h2><h6>12 min</h6>
            <h4>Guía tu alimentación para obtener salud.</h4></div></div>
          </a>

          <a href="/ejercicios/relajacion-muscular">
            <div class="box" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1651019619/Por%20Ti/Relajacio%CC%81n_musculaejercicios_gvsvcs.png);"><div class="card-ejercicio-text">
              <h2>Relajación muscular</h2><h6>12 min</h6>
              <h4>Reduce la tensión corporal. </h4></div></div>
            </a>

      <div class="box" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1651189738/Por%20Ti/sueno-card_hpgpud.svg);"><div class="card-ejercicio-text">
        <h2>Registro de sueño</h2><h6>12 min</h6>
        <h4>Monitorea tus horas de sueño.</h4></div></div>
        
        <div class="box" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1651189737/Por%20Ti/actividades-del-dia-card_jk8qu2.svg);"><div class="card-ejercicio-text">
          <h2>Listado de actividades del día</h2><h6>12 min</h6>
          <h4>Organiza tus actividades y reduce el estrés.</h4></div></div>
  
          <div class="box" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1651189737/Por%20Ti/diario-emocional-card_ilqhnt.svg);"><div class="card-ejercicio-text">
            <h2>Diario emocional</h2><h6>12 min</h6>
            <h4>Lleva un registro de tus emociones.</h4></div></div>

            <div class="box" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1651866646/Por%20Ti/card-actividad-fi%CC%81sica-ejercicio_tzsxxx.png);"><div class="card-ejercicio-text">
              <h2>Registro de actividad física</h2><h6>12 min</h6>
              <h4>Dale un seguimiento a tu entrenamiento.</h4></div></div>
            

            <div class="box" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1651866647/Por%20Ti/card-agua-ejercicio_pyiz9v.png);"><div class="card-ejercicio-text">
              <h2>Registro de agua del día</h2><h6>12 min</h6>
              <h4>Recupera el hábito saludable de beber agua.</h4>
              </div></div>
         

            <div class="box" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1651866646/Por%20Ti/card-yoga-ejercicio_aiuzqz.png);"><div class="card-ejercicio-text">
              <h2>Clases de yoga</h2><h6>12 min</h6>
              <h4>Libera hormonas del bienestar.</h4></div></div>
           

            <div class="box" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1651866646/Por%20Ti/card-company-ejercicio_qipewp.png);"><div class="card-ejercicio-text">
              <h2>Actividades en compañia</h2><h6>12 min</h6>
              <div class="h4-card-text"><h4>Mantén buenos hábitos sociales.</h4>
              <h4>Conecta con los demás.</h4></div></div></div>
           
    </div>
  </div>
</div>
</div>

  <h2 style="margin-top: 100px;">Actividades cortas</h2>

  <div class="ejercicios-box-cont" style="margin-top: 50px; padding-left: 75px;">
    
    <a href="/ejercicios/5sentidos"><div class="box" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1651189737/Por%20Ti/sentidos-card_fjbkx6.svg); width:373px;"><div class="card-ejercicio-text">
      <h2>Técnica de los 5 sentidos</h2><h6>12 min</h6>
  <h4>Técnica auto-calmante para aliviar la ansiedad.</h4></div></div></a>
   
  <a href="/ejercicios/arteterapia">
  <div class="box" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1650503368/Por%20Ti/ejercicios-card6_tslgtr.svg); width: 30%;"><div class="card-ejercicio-text"><h2>Arteterapia</h2><h6>12 min</h6>
        <h4>Expresa tus emociones con arte.</h4></div></div></a>
        
    <div class="box" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1650503371/Por%20Ti/ejercicios-card7_qguw8x.svg);"><div class="card-ejercicio-text"><h2>Tapping</h2><h6>12 min</h6>
        <h4>Técnica auto-calmante para armonizar emociones.</h4></div>
    </div>
    
</div>
</div>
</div>


<div class="chips">

<div class="chip-hija" style="margin-right: 51px;">
  <a href="/ejerciciosfavoritos404"><button><span class="fa-solid fa-heart"></span>Favoritos</button></a>
</div>
<div class="chip-hija">
  <a href="/ejerciciosrecientes404"><button><span class="fa-solid fa-calendar"></span>Recientes</button></a>
</div>

</div>

  <h2 style="margin-top: 50px;  margin-bottom: 50px;">Contacta a un especialista</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi facere dolorum autem aliquam atque praesentium vitae, consequatur quam ipsam possimus!</p>

  <div class="contenedor-especialista">
    <a href="/listado"><button style="margin-top: 50px; margin-bottom: 50px;">Ver listado</button></a>
</div>
</div>
  </div>
</div>
        </div>
    </main>
</html>