<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Imaginación guiada</title>
  <%- include('./partials/favicon') %>  
  <!--JQUERY-->
  <script src="js/script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!--CSS-->
  <link rel="stylesheet" href="/css/imaginacion.css">
  <link rel="stylesheet" href="/css/navbar.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
  <!--Kit FontAwesome--> 
  <script src="https://kit.fontawesome.com/60756a3678.js" crossorigin="anonymous"></script>
 
  <%- include('./partials/nav') %>  
<main>
   <!-- Tittle -->
  <div class="titles">
    <h2 style="margin-top: 100px;">Imaginación guiada</h2>
    <p>La visualización o imaginación guiada es una técnica que se emplea para reducir el estrés y la ansiedad mediante la creación imaginaria de imágenes y emociones positivas.</p>
    <p>Observa la ilustración que se muestra a continuación, y por varios segundos trata de imaginar tantas cosas como puedas, por ejemplo los árboles, hojas cayendo, el viento soplando, el ruido del agua... usa tu mente para tratar de estar en la ilustración de la forma más realista posible, empleando tu imaginación. </p>
  </div>
  
  <body>
    <img src="/img/imaginacion.svg" class="img-guiada">
    </body>
    <div class="back">
        <a href="/misejercicios"><button>Volver</button></a>
    </div>
    </main>
    </html>