<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio
    </title>
      <!--CSS--> 
      <link rel="stylesheet" href="/css/home.css" type="text/css">
      <link rel="stylesheet" href="/css/navbar.css" type="text/css">
      <link rel="stylesheet" href="/css/fondo.css" type="text/css">
  
      <!--Tipografías--> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <!--Poppins--> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <!--Nunito--> 
     <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
      <!--Kit FontAwesome--> 
     <script src="https://kit.fontawesome.com/60756a3678.js" crossorigin="anonymous"></script>
    </head>

     <!--Menu-->
 <div class="nav-gradient">
  <a href="/"><img src="/img/Logo_Horizontal.png" id="logo-menu"></img></a>
  <nav id="primary_nav_wrap">
      <ul>
        <% if(locals.isLogged) { %>
          <li><a href="/listado">Contacto</a></li>
          <li class="current-menu-item"><a href="/misejercicios">Mis ejercicios</a></li>
          <li><a href="/users/miperfil">¡Hola <b><%= locals.userLogged.name %></b>!</a>
                </ul>
              </li>
          </li>
        </ul>
          <% } else { %>
            <li class="current-menu-item"><a href="/misobjetivos">Contacto</a></li>
            <li><a href="/users/login">Iniciar sesión</a>
                    <li><a href="/users/registro">Registrate</a></li>
                  </ul>
                </li>
            </li>
          </ul>
            <% } %>
      </nav>
  </div>

<body>
        <!--Banner--> 
    <div class="banner">
        <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1650499717/Por%20Ti/fondo-login_kfumtl.png" class="img-home">
          <div class="banner-text">
            <div class="bigTitle">
          <h1>Mejora tu salud</h1>
          </div>
          <div class="smallTitle">
              <h2 style="text-align:left; font-weight: 300;">Contenido personalizado para tu bienestar y mejorar el área de salud que desees.</h2>
            </div>
        </div>
          </div>
          </div>

          <div class="buttonBanner"><a href="/registro"><button>Continuar</button></a></div>
      
            <!--Estrellas--> 

    <div class="scene">
        <script type="text/javascript">
            function stars(){
                let count = 500;
                let scene = document.querySelector('.scene');
                let i = 0;
                while(i < count){
                    let star  = document.createElement("i");
                    let x = Math.floor(Math.random() * window.innerWidth);
                    let y = Math.floor(Math.random() * window.innerHeight);
                    let duration = Math.random() * 10;
                    let size = Math.random() * 2;

                    star.style.left = x+'px'; 
                    star.style.top = y+'px'; 
                    star.style.width = 1+size+'px'; 
                    star.style.height = 1+size+'px'; 

                    star.style.animationDuration = 5+duration+'s';
                    star.style.animationDelay = duration+'s';

                    scene.appendChild(star);
                    i++
                }
            }
            stars()
        </script>

         <!--Beneficios--> 

    <div class="content">
        <main>
            <h2 style="margin-top: 50px;">Beneficios</h2>
            <h3 class="h3-Index">Una forma accesible de mejorar tu salud</h3>
            <div class="flexbox">
        <div class="img-beneficios">
          <!--BAJAR IMG-->
            <img src="/img/ventaja1.png" class="beneficios">
            <h3 style="padding: 15px; margin-bottom: 15px;">Elige el área de salud que desees</h3>
            <br>
            <br>
            <br>
        </div>

        
        <div class="img-beneficios">
            <img src="/img/ventaja2.png" class="beneficios">
            <h3 style="padding-left: 30px; padding-right: 30px; margin-bottom: 15px;">Contenido para sentirte mejor</h3>
            <br>
            <br>
            <br>
        </div>
        
        <div class="img-beneficios">
            <img src="/img/ventaja3.png" class="beneficios">
            <h3 style="padding: 15px; margin-bottom: 15px;">Lleva un registro de tus avances</h3>
        </div>
              
              </div>

               <!--Reseñas--> 
             
              <h2 class="h2-Index">Reseñas</h2>
              <div class="flexbox">
                <div class="img-beneficios" id="review">

                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <h4 style="font-size: 21px; font-weight: 500; text-align: left; margin-top: 25px; margin-bottom: 35px; padding-right: 25px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti rerum deserunt obcaecati quod magnam atque.</h4>
                  <h6>Nombre Apellido</h6>
                </div>
                
                <div class="img-beneficios" id="review">
                   
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <h4 style="font-size: 21px; font-weight: 500; text-align: left; margin-top: 25px; margin-bottom: 35px; padding-right: 25px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti rerum deserunt obcaecati quod magnam atque.</h4>
                  <h6>Nombre Apellido</h6>

                </div>
        
                <div class="img-beneficios" id="review">
                    
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <h4 style="font-size: 21px; font-weight: 500; text-align: left; margin-top: 25px; margin-bottom: 35px; padding-right: 25px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti rerum deserunt obcaecati quod magnam atque.</h4>
                  <h6>Nombre Apellido</h6>

                </div>
                </div>

                   <!--¿Quiénes somos?--> 

              <h2 class="h2-Index">¿Quiénes somos?</h2>
              <div class="quienes-somos-cont">
                <img src="/img/img-quienes-somos.png" class="quienes-somos">
                <img src="/img/img-quienes-somos.png" class="quienes-somos">
            </div>
            <p style="margin-bottom: 100px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mollis odio odio sed eu nec. Gravida pellentesque auctor mattis eget.</p>
          </main>
        <img src="/img/Hojas1.png" class="hoja1">
        <img src="/img/Hojas3.png" class="hoja2">
       </div>
</body>
</html>