<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--CSS-->
    <link rel="stylesheet" href="/css/estilosindex.css" type="text/css">
    <link rel="stylesheet" href="/css/fondo.css" type="text/css">
    <link rel="stylesheet" href="/css/footer2.css" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@800&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Fredoka:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>

      <!--Kit FontAwesome--> 
      <script src="https://kit.fontawesome.com/60756a3678.js" crossorigin="anonymous"></script>
 
    <title>Inicio</title>
  </head>
  <body>

    <header>
       <div class="bg-dark">
        <div class="container navcont w-100" id="nav-gradient">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav w-100">
                        <a class="navbar-brand" href="/"><img src="/img/Logo_Horizontal.png" id="logo-menu2" alt="logo" height="50px"></img></a>
                    </div>
                  </div>

                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navg navbar-nav w-100">
                     <a class="navbar-brand" href="/"><img src="/img/Logo_Horizontal.png" id="logo-menu" alt="logo" height="50px"></img></a>
                     <% if(locals.isLogged) { %>
                     <a class="nav-item nav-link" href="/listado">Contactos</a>
                    <a class="nav-item nav-link" href="/users/misejercicios">Mis ejercicios</a>
                    <a class="nav-item nav-link" href="/users/miperfil">¡Hola <b><%= locals.userLogged.first_name %></b>!</a>
                    <% } else { %>
                      <a class="nav-item nav-link" href="/listado">Contactos</a>
                      <a class="nav-item nav-link" href="/users/login">Iniciar sesión</a>
                      <a class="nav-item nav-link" href="/users/registro">Registrate</a>
                      <% } %>
                  </div>
                </div>
              </nav>
        </div>
      </div>

    </header>

    <!--Estrellas-->   

            <div class="scene" style="height: 1800px; margin-bottom: -15px;">
                <script type="text/javascript">
                    function stars(){
                        let count = 200;
                        let scene = document.querySelector('.scene');
                        let i = 0;
                        while(i < count){
                            let star  = document.createElement("i");
                            let x = Math.floor(Math.random() * window.innerWidth);
                            let y = Math.floor(Math.random() * window.innerHeight);
                            let duration = Math.random() * 10;
                            let size = Math.random() * 2;
        
                            star.style.opacity= 0.7;
                            star.style.left = x+'px'; 
                            star.style.top = y+'px'; 
                            star.style.width = 1+size+'px'; 
                            star.style.height = 1+size+'px'; 
        
                            star.style.animationDuration = 5+duration+'s';
                            star.style.animationDelay = duration+'s';
        
                            scene.appendChild(star);
                            i++
                        }
                    }
                    stars()
                </script>

 <!--Beneficios prueba 2--> 

 <div class="content" style="margin-bottom: 50px;">
  <main>
      <h2 style="margin-top: 50px;">Beneficios</h2>
      <h3 class="h3-Index">Una forma accesible de mejorar tu salud</h3>
  </div>

  <div class="container">
<div class="row justify-content-center align-items-center">
  <div class="benefits col-xs-10 col-sm-10 col-md-5 col-lg-3">
    <img class="ben-img img-responsive"src="/img/ventaja1.png" alt="Card image cap">
          <div class="ben-body">
            <p class="ben-text">Elige el área de salud</p>
            <h5 class="ben-title">que desees</h5>
          </div>
  </div>

  <div class="benefits col-xs-10 col-sm-10 col-md-5 col-lg-3">
    <img class="ben-img img-responsive" src="/img/ventaja2.png" alt="Card image cap">
          <div class="ben-body">
            <p class="ben-text">Contenido para</p>
            <h5 class="ben-title">sentirte mejor</h5>
          </div>
  </div>

  <div class="benefits col-xs-10 col-sm-10 col-md-5 align-self-md-center col-lg-3">
    <img class="ben-img img-responsive" src="/img/ventaja3.png" alt="Card image cap">
    <div class="ben-body">
      <p class="ben-text">Contenido para</p>
      <h5 class="ben-title">sentirte mejor</h5>
    </div>
  </div>

</div>
  </div>

  <!--RESEÑAS-->

  <div class="content" style="margin-bottom: 50px;">
        <h2 style="margin-top: 50px;">Reseñas</h2>
        <h3 class="h3-Index">¿Qué opinan los usuarios de Por Ti?</h3>
    </div>

  <div class="container">
<div class="row justify-content-center align-items-center">
  <div class="benefits col-xs-10 col-sm-10 col-md-5 col-lg-3">
    <div class="ben-body" id="review">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <h4 style="font-size: 18px; font-weight: 400; text-align: left; margin-top: 25px; margin-bottom: 35px; padding-right: 25px;">
        "Me gustó demasiado, al usarla sentí paz y relajación. La página es muy práctica y fácil de entender."</h4>
      <h6>- Alan García</h6>
    </div>
          </div>

  <div class="benefits col-xs-10 col-sm-10 col-md-5 col-lg-3">
    <div class="ben-body" id="review">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <h4 style="font-size: 18px; font-weight: 400; text-align: left; margin-top: 25px; margin-bottom: 35px; padding-right: 25px;">
        "Me inspira tranquilidad y relajación. Las actividades y menús son intuitivos, fácil de usar. Me parece muy completo."</h4>
      <h6>- Giovana Tomasini</h6>
    </div>
          </div>

  <div class="benefits col-xs-10 col-sm-10 col-md-5 align-self-md-center col-lg-3">
    <div class="ben-body" id="review">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <h4 style="font-size: 18px; font-weight: 400; text-align: left; margin-top: 25px; margin-bottom: 35px; padding-right: 25px;">
        "Los ejercicios, actividades y contenidos me transmiten calma. Me han ayudado a relajarme y sentime mejor."</h4>
      <h6>- Daniel Márquez</h6>
    </div>
  </div>
</div>
  </div>

  <!--¿Quiénes somos?--> 

<div class="content" style="margin-bottom: 50px;">
      <h2 style="margin-top: 50px;">¿Quiénes somos?</h2>
      <h3 class="h3-Index">Cónoce nuestro proyecto.</h3>
  </div>

  <div class="quienes-somos-cont">
    <img src="/img/img-quienes-somos.png" class="quienes-somos">
    <img src="/img/img-quienes-somos.png" class="quienes-somos">
<p style="padding: 0 25px;">Buscamos ayudar a mejorar tu calidad de vida, promoviendo el autocuidado y bienestar de tu salud integral.</p>
</div>
    </main>
 </div>
</div>
</div>

  <%- include('./partials/footer2') %>  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>