<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicios</title>

      <!--FAVICON--> 
      <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
      
     <!--CSS--> 
     <link rel="stylesheet" href="/css/navbar.css" type="text/css">
     <link rel="stylesheet" href="/css/listado.css" type="text/css">
     <link rel="stylesheet" href="/css/fondo.css" type="text/css">
      <!--Kit FontAwesome--> 
      <script src="https://kit.fontawesome.com/60756a3678.js" crossorigin="anonymous"></script>
</head>

<%- include('./partials/nav') %>

    <!--Aquí comienza el listado-->
<main>
    <h1>¿Necesitas ayuda más personalizada?</h1>
    <h3 class="h3-Index">Te compartimos los siguientes números a los que podrás acudir si necesitas atención urgente.</h3>

<div class="cont-listado">

  <div class="cont-listado-hijo">
    <img src="/img/lineadelavida.jpeg" style="width: 265px">
<div class="cont-listado-hijo-text">
    <h2>La línea de la vida</h2>
    <div class="icon-flex">
    <span class="fa-solid fa-phone"></span><h4 style="padding-top: 15px;">800 911 2000</h4>
  </div>
  <div class="icon-flex">
    <span class="fa-solid fa-envelope"></span><h4 style="padding-bottom: 15px;">lalineadelavida@salud.gob.mx</h4>
  </div>
  <h4 style="padding-bottom: 15px;">Especialistas en atención a la salud mental, ofrecen servicios de atención a problemas como ansiedad, depresión o riesgo suicida, los 365 días del año.</h4>
  </div>
  </div>

  <div class="cont-listado-hijo">
    <img src="/img/origen.jpeg" style="width: 265px">
    <div class="cont-listado-hijo-text">
    <h2>Fundación Origen</h2>
    <div class="icon-flex">
    <span class="fa-solid fa-phone"></span><h4 style="padding-top: 15px;">800 015 1617</h4>
  </div>
  <div class="icon-flex">
    <span class="fa-solid fa-envelope"></span><h4 style="padding-bottom: 15px;">lineadeayudaorigen@origenac.org</h4>
  </div>
  <h4 style="padding-bottom: 15px;">Organización social experta en el tema de salud emocional. Ofrecen orientación psicológica, legal, médica y nutricional gratuita.</h4>
  </div>
  </div>

  <div class="cont-listado-hijo">
    <img src="/img/lineauam.png" style="width: 265px">
    <div class="cont-listado-hijo-text">
    <h2>Línea UAM</h2>
    <div class="icon-flex">
    <span class="fa-solid fa-phone"></span><h4 style="padding-top: 15px;">55 2555 8092</h4>
  </div>
  <div class="icon-flex">
    <span class="fa-solid fa-phone"></span><h4 style="padding-top: 15px;">55 5804 4879</h4>
  </div>
  <div class="icon-flex">
    <span class="fa-solid fa-phone"></span><h4 style="padding-top: 15px;">55 5804 5444</h4>
  </div>
<br>
  <h4 style="padding-bottom: 15px;">Servicio gratuito de la UAM Azcapotzalco para atender la salud mental.<br>Horario: Lunes a viernes <br> 9:00 a 17:00 hrs</h4>
  </div>
  </div>

  <div class="cont-listado-hijo">
    <img src="/img/consejo.png" style="width: 265px;" >
    <div class="cont-listado-hijo-text">
    <h2>Consejo Ciudadano para la Seguridad y Justicia de la CDMX</h2>
    <div class="icon-flex">
    <span class="fa-solid fa-phone"></span><h4 style="padding-top: 15px;">55 5533 5533</h4>
  </div>
  <div class="icon-flex">
    <span class="fa-solid fa-envelope"></span><h4 style="padding-bottom: 15px;">uncorreo@gmail.com</h4>
  </div>
  <h4 style="padding-bottom: 15px;">Apoyo psicológico inmediato y 24/7 en línea, ofrecen de 9 a 12 sesiones de terapia psicológica sin ningún costo.</h4>
  </div>
  </div>

</div>
<div style="margin-top: 200px;"></div>
<img src="/img/Hojas1.png" class="hoja1">
<img src="/img/Hojas3.png" class="hoja2">
  </main>
</body>
<head>
  <link rel="stylesheet" href="/css/footer.css" type="text/css">
</head>

<footer style="padding:40px 40px">
  <!--Logo Fun N Skate-->
           <div style="display:flex; flex-direction:column; text-align: left; padding-left: 30px">
              <img class="logo-footer" style="margin:20px 0 30px 0" src = '/img/Logo_Horizontal.png' alt='Logo'>
             <!-- <p style="padding-left: 40px; font-size: 13px; opacity: 0.6">En Por Ti buscamos fomentar el autocuidado de la salud integral.</p>-->
          </div>
          
          <!--Logotipos de redes sociales-->
          <div class="caja-redes">
              <h3 class="titulo-redes" style="padding-top: 50px; margin: -40px;">¡Síguenos!</h3>
              <a href="facebook">
                  <img class="redes" src = '/img/icon-fb.png' alt='facebook'>
              </a>
              <a href="instagram">
                  <img class="redes" src = '/img/icon-inst.svg' alt='instagram'>
              </a> 
      
          </div>
          <!--Area de suscripción -->
        
  
          <div class="cont-list">
      
              <ul>
                  <li>
                      <a href="#sucursal1">Podcast</a>
                  </li>
                  <li>
                      <a href="#sucursal2">Blog</a>
                  </li>
                  <li>
                      <a href="#sucursal3">YouTube</a>
                  </li>
              </ul>
          </div>
        
      
</footer>

</html>
   
     