<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>

      <!--FAVICON--> 
      <link rel="shortcut icon" type="image/png" href="img/favicon.png">
      
     <!--CSS--> 
     <link rel="stylesheet" href="/css/navbar.css" type="text/css">
     <link rel="stylesheet" href="/css/listado.css" type="text/css">
     <link rel="stylesheet" href="/css/fondo.css" type="text/css">
      <!--Kit FontAwesome--> 
      <script src="https://kit.fontawesome.com/60756a3678.js" crossorigin="anonymous"></script>
</head>

<%- include('./partials/nav') %>

 <!--Estrellas--> 

 <div class="scene">
  <script type="text/javascript">
      function stars(){
          let count = 500;
          let scene = document.querySelector('.scene');
          let i = 0;
          while(i < count){
              let star  = document.createElement("i");
              let x = Math.floor(Math.random() * window.innerWidth);
              let y = Math.floor(Math.random() * window.innerHeight);
              let duration = Math.random() * 10;
              let size = Math.random() * 2;

              star.style.left = x+'px'; 
              star.style.top = y+'px'; 
              star.style.width = 1+size+'px'; 
              star.style.height = 1+size+'px'; 

              star.style.animationDuration = 5+duration+'s';
              star.style.animationDelay = duration+'s';
              scene.appendChild(star);
              i++
          }
      }
      stars()
  </script>
    <!--Aquí comienza el listado-->
<main>
    <h1>¿Necesitas ayuda más personalizada?</h1>
    <h3 class="h3-Index">Encuentra a un psicólogo para ti</h3>

<div class="cont-listado">

  <div class="cont-listado-hijo">
    <img src="/img/26.jpeg">
<div class="cont-listado-hijo-text">
    <h2>Julia Rodríguez</h2>
    <div class="icon-flex">
    <span class="fa-solid fa-phone"></span><h4 style="padding-top: 15px;">55 6163 8899</h4>
  </div>
  <div class="icon-flex">
    <span class="fa-solid fa-envelope"></span><h4 style="padding-bottom: 15px;"s>uncorreo@gmail.com</h4>
  </div>
  <h4 style="padding-bottom: 15px;">Psicólogo gestalt, especialista en autoestima, estrés y relaciones personales.</h4>
  </div>
  </div>

  <div class="cont-listado-hijo">
    <img src="/img/29.jpeg">
    <div class="cont-listado-hijo-text">
    <h2>Roberto Sánchez</h2>
    <div class="icon-flex">
    <span class="fa-solid fa-phone"></span><h4 style="padding-top: 15px;">55 6163 8899</h4>
  </div>
  <div class="icon-flex">
    <span class="fa-solid fa-envelope"></span><h4 style="padding-bottom: 15px;">uncorreo@gmail.com</h4>
  </div>
  <h4 style="padding-bottom: 15px;">Psicólogo gestalt, especialista en autoestima, estrés y relaciones personales.</h4>
  </div>
  </div>

  <div class="cont-listado-hijo">
    <img src="/img/27.jpeg">
    <div class="cont-listado-hijo-text">
    <h2>Emilio Flores</h2>
    <div class="icon-flex">
    <span class="fa-solid fa-phone"></span><h4 style="padding-top: 15px;">55 6163 8899</h4>
  </div>
  <div class="icon-flex">
    <span class="fa-solid fa-envelope"></span><h4 style="padding-bottom: 15px;">uncorreo@gmail.com</h4>
  </div>
  <h4 style="padding-bottom: 15px;">Psicólogo gestalt, especialista en autoestima, estrés y relaciones personales.</h4>
  </div>
  </div>

  <div class="cont-listado-hijo">
    <img src="/img/28.jpeg">
    <div class="cont-listado-hijo-text">
    <h2>Ana Cruz</h2>
    <div class="icon-flex">
    <span class="fa-solid fa-phone"></span><h4 style="padding-top: 15px;">55 6163 8899</h4>
  </div>
  <div class="icon-flex">
    <span class="fa-solid fa-envelope"></span><h4 style="padding-bottom: 15px;">uncorreo@gmail.com</h4>
  </div>
  <h4 style="padding-bottom: 15px;">Psicóloga cognitivo conductual, especialista en ansiedad.</h4>
  </div>
  </div>

</div>
<div style="margin-top: 200px;"></div>
<img src="/img/Hojas1.png" class="hoja1">
<img src="/img/Hojas3.png" class="hoja2">
  </main>
</body>
</html>
   
     