<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>

      <!--FAVICON--> 
      <link rel="shortcut icon" type="image/png" href="img/favicon.png">
      
    <!--CSS--> 
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" href="/css/navbar.css" type="text/css">

    <!--Tipografías--> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<header>
        
</header>

<body>
    <div class="fondo">

      <%- include('./partials/nav') %>

  <div class="main">
    <br>
          <form action="/users/login" method="POST" class="main">
            <!--Prueba-->
            <div class="login-box">
                <h2>¿Listo para hacer algo por ti hoy?<h6 class="body-text">Ingresar</h6></h2>
                <form>
                  <div class="user-box">
                    <input type="text" name="email" required="" id="email">
                    <label for="email">Correo electrónico <% if(locals.errors && errors.email) { %>
                      <div class="alert">
                          <i class="fas fa-times-circle"></i>
                          <%= errors.email.msg %>
                      </div>
                      <% } %></label>
                  </div>
                 
                  <div class="user-box">
                    <input type="password" name="password" required="" id="password">
                    <label for="password">Contraseña <% if(locals.errors && errors.password){ %>
                      <div class="alert">
                          <i class="fas fa-times-circle"></i>
                          <%=errors.password.msg%>
                      </div>
                      <% } %></label>
                  </div>
        
                <button type="submit" style="text-align:center; left: 30%; right: 30%; position: absolute">Iniciar sesión</button>
                <br>
                <br>
                <br>
                <div style="display: flex; flex-direction: row; align-items: baseline;"><input type="checkbox"></input><p class="p" style="margin-left: 15px; padding-left: 0;">Recordar mi usuario</></div>
                <p class="p">¿Aún no tienes una cuenta?  </p>
                  <a href="/users/registro" style="text-align:center; left: 40%; right: 40%; position: absolute">Registrate aquí</a>
            <!--[if mso]>&nbsp;<![endif]-->
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
                </form>
              </div>
          </form>
          <!--Prueba-->

          </div>
          <!--Finaliza prueba-->
      </div>
</body>
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 
       <a href="#">Por Ti</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
</html>