<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis objetivos</title>

      <!--FAVICON--> 
      <link rel="shortcut icon" type="image/png" href="img/favicon.png">
      
    <!--CSS--> 
    <link rel="stylesheet" href="/css/objetivos.css" type="text/css">
    <link rel="stylesheet" href="/css/navbar.css" type="text/css">

  <!--Tipografías--> 
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<div class="main">

    <script>
        function myFunction(element, color) {
          element.style.backgroundColor = color;
        }
        </script>

    <body>

        <%- include('./partials/nav') %>

        <div class="titles">
        <h4>Elije tus objetivos</h1>
            <h1>¿Qué deseas mejorar?</h1>
        </div>

    <div class="contenedor-objetivos">
        
        <div id="sub-contenedor-objetivos" onclick="myFunction(this, 'rgba(117, 117, 117, 0.20)')">
           <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1648833262/Por%20Ti/Salud_social_icono_am6vep.png" alt="salud social">
       <h5>Salud social</h5>
        </div>

          
        <div id="sub-contenedor-objetivos" onclick="myFunction(this, 'rgba(117, 117, 117, 0.20)')">
            <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1648833263/Por%20Ti/Salud_mental_icono_ukchh4.png" alt="salud mental">
            <h5>Salud mental</h5> 
        </div>

        <div id="sub-contenedor-objetivos" onclick="myFunction(this, 'rgba(117, 117, 117, 0.20)')">
            <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1648833262/Por%20Ti/Salud_fi%CC%81sica_icono_gsvons.png" alt="salud física">
            <h5>Salud física</h5> 
        </div>
        <script>
           const btnsTip = document.querySelectorAll("[sub-contenedor-objetivos]");
           let activeBtn = null;

            btnsTip.forEach((btnTip) => {
            btnTip.addEventListener("click", (e) => {
             e.currentTarget.style.backgroundColor = "yellow";

            if ((activeBtn = null && activeBtn != e.currentTarget)) {
             activeBtn.remove.style.backgroundColor = "yellow";
             }

             activeBtn = e.currentTarget;
            });
});
            </script>
<br>
    </div>
    <a href="/misejercicios"><button>Continuar</button></a>
</div> <!--Termina main-->
    </body>

</div>

</html>