<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis objetivos</title>

      <!--FAVICON--> 
      <link rel="shortcut icon" type="image/png" href="/img/favicon.png">

      <!--SCSS--> 
    <link rel="stylesheet" href="/css/check.css">
    <link rel="stylesheet" href="/css/objetivos.css">

    <!--CSS--> 
    <link rel="stylesheet" href="/css/navbar.css" type="text/css">

  <!--Tipografías--> 
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<div class="main">

    <body>

        <%- include('./partials/nav') %>

        <div class="titles">
        <h4>Elije un objetivo</h1>
            <h1>¿Qué deseas mejorar?</h1>
        </div>

        <br>
        <br>
        <form action="/users/misobjetivos" method="POST" class="main">

        <label class="radio-container">
          <input name="objetivo" value="saludfisica" type="radio" class="radio-hidden" checked>
          <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1658344697/Por%20Ti/fisica_t75jjc.svg" class="radio-image">
        </label>

        <label class="radio-container">
          <input name="objetivo" value="saludmental" type="radio" class="radio-hidden">
          <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1658344692/Por%20Ti/mental_kbj7zw.svg" class="radio-image">
        </label>

        <label class="radio-container">
          <input name="objetivo" value="saludsocial" type="radio" class="radio-hidden">
          <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1658344686/Por%20Ti/social_myuji4.svg" class="radio-image">
        </label>
        <label class="radio-container">
          <input name="method" type="radio" class="radio-hidden">
          
        </label>
        <a href="/users/misejercicios" style= "top: 20px; margin-top:150px"><button type="submit">Continuar</button></a>
        <br>
        <br>
<br>
<br>
<br>
</form>
</div> <!--Termina main-->
    </body>
</html>