<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi perfil</title>

      <!--FAVICON--> 
      <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
      
      <!--CSS--> 
      <link rel="stylesheet" href="/css/navbar.css" type="text/css">
      <link rel="stylesheet" href="/css/perfil.css" type="text/css">
      <link rel="stylesheet" href="/css/ejercicios.css" type="text/css">
      <link rel="stylesheet" href="/css/ejercicios-cont.css" type="text/css">

    <!--Tipografías--> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


</head>

<%- include('./partials/nav') %>

<body>
    <main>
        <% if(user.objetivo !== 'saludsocial' && user.objetivo !== 'saludfisica') { %>
<div class="datos-perfil" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1658509260/Por%20Ti/salud_banner_lbbqj9.png);">
   <% } %>

   <% if(user.objetivo !== 'saludsocial' && user.objetivo !== 'saludmental') { %>
    <div class="datos-perfil" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1658341637/Por%20Ti/banner_fisica_atbfiw.png);">
    <% } %>

    <% if(user.objetivo !== 'saludmental' && user.objetivo !== 'saludfisica') { %>
        <div class="datos-perfil" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1658341642/Por%20Ti/banner_social_yssu00.png);
        ">
        <% } %>

<h3>¡Hola!</h3>
<h1> <%= user.first_name %> <%= user.last_name %></h1>
</div>
<main style="padding-top: 25px;">
<div class="espacio" style="padding: 25px"></div>


    <% if(user.objetivo !== 'saludsocial' && user.objetivo !== 'saludfisica') { %>
<div class="ejercicios-top-contenedor-hijo" style="margin: 0 auto; display:flex; text-align: center; justify-content:baseline; align-content:center;">
    <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1650503349/Por%20Ti/ejercicios-card2_kmad1t.svg" style="width: 100%">
</div>
    <% } %>

    <% if(user.objetivo !== 'saludmental' && user.objetivo !== 'saludsocial') { %>
        <div class="ejercicios-top-contenedor-hijo" style="margin: 0 auto; display:flex; text-align: center; justify-content:baseline; align-content:center;">
            <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1658298871/Por%20Ti/fisica_card_wl4cl7.svg" style="width: 100%">
        </div>
    <% } %>

    <% if(user.objetivo !== 'saludmental' && user.objetivo !== 'saludfisica') { %>
        <div class="ejercicios-top-contenedor-hijo" style="margin: 0 auto; display:flex; text-align: center; justify-content:baseline; align-content:center;">
            <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1658298871/Por%20Ti/social_card_omtr4q.svg" style="width: 100%">
        </div>
    <% } %>

<div class="espacio" style="padding: 25px"></div>

 <!--Top containers-->
    <h2>Tu avance</h2>
    <div class="ejercicios-top-contenedor">

        <div class="ejercicios-top-contenedor-hijo" style="display:flex; justify-content:baseline; color: white;">
            <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1650503255/Por%20Ti/ejercicios-card1_bqpyfa.svg" style="width: 100%">
        </div>

        <div class="ejercicios-top-contenedor-hijo" style="display:flex; justify-content:baseline; color: white;">
            <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1650503349/Por%20Ti/ejercicios-card2_kmad1t.svg" style="width: 100%">
        </div>
        
        <div class="ejercicios-top-contenedor-hijo" style="display:flex; justify-content:baseline; color: white;">
            <img src="https://res.cloudinary.com/dc7uyfv94/image/upload/v1650503354/Por%20Ti/ejercicios-card3_e1yx4t.svg" style="width: 100%">
        </div>

    </div>
    <div class="espacio" style="padding: 25px"></div>
<div class="ejercicios-perfil" style="margin: 250px, 0">
<h2>Ejercicios favoritos</h2>
<div class="espacio" style="padding: 25px"></div>

<div class="ejercicios-box-cont" style="padding-left: 75px; height: 300px; padding-left: 50px;">
<div class="ejercicios-top-contenedor">

        <a href="/ejercicios/respiracion"> <div class="box" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1655489715/Por%20Ti/Ejercicio-fondo-respiracion2_qnjx2i.png);">
            <div class="card-ejercicio-text">
          <h2>Técnicas de respiración</h2><h6>12 min</h6>
          <div class="h4-ben-text"><h4>Reduce el estrés y ansiedad usando la respiración.</h4></div>
        </div></div>
        </a>

        <a href="/ejercicios/tapping"><div class="box"><div class="card-ejercicio-text">
    <h2>Tapping</h2><h6>12 min</h6>
      <h4>Técnica auto-calmante para armonizar emociones.</h4></div></div>
    </a>

    <a href="/ejercicios/imaginacion-guiada">
        <div class="box" style="background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1651019618/Por%20Ti/Imaginacio%CC%81n_guiadaejercicios_oe6tbo.png); width:373px;"><div class="card-ejercicio-text">
          <h2>Imaginación guiada</h2><h6>12 min</h6>
          <h4>Visualiza para redirigir tus pensamientos.</h4></div></div>
        </a>

</div>
</div>

  <div class="espacio" style="padding: 25px"></div>
  <div class="espacio" style="padding: 25px"></div>
  <div class="buttonBanner"><a href="/misejercicios"><button>Ver más ejercicios</button></a></div>
  <div class="espacio" style="padding: 50px"></div>
  <div class="espacio" style="padding: 50px"></div>
</div>
    <div class="container-fluid">
        <div class="col-xs-6">
          <div class="row">
              <h2>Cronología</h2>
              <ul class="timeline">
                  <li>
                      <div class="timeline-description">
                          <h3>Tapping </h3>
                          <p>Quisque ac laoreet purus, eu dapibus ligula. Mauris nec tincidunt mi, eget finibus sem. Morbi viverra malesuada lobortis. Suspendisse sed augue luctus ex molestie convallis.</p>
                      </div>
                  </li>
                  <li>
                      <div class="timeline-description">
                          <h3>Imaginación guiada </h3>
                          <p>Quisque ac laoreet purus, eu dapibus ligula. Mauris nec tincidunt mi, eget finibus sem. Morbi viverra malesuada lobortis. Suspendisse sed augue luctus ex molestie convallis.</p>
                      </div>
                  </li>
                  <li>
                      <div class="timeline-description">
                          <h3>Arteterapia</h3>
                          <p>Quisque ac laoreet purus, eu dapibus ligula. Mauris nec tincidunt mi, eget finibus sem. Morbi viverra malesuada lobortis. Suspendisse sed augue luctus ex molestie convallis.</p>
                      </div>
                  </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="buttonBanner"><a href="/users/logout"><button>Cerrar sesión</button></a></div>
      <div class="espacio" style="padding: 50px"></div>
      <div class="espacio" style="padding: 50px"></div>
</body>
</main>
<%- include('./partials/footer') %>
</html>
