<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Tapping</title>
     
    <!--FAVICON--> 
      <link rel="shortcut icon" type="image/png" href="/img/favicon.png">

 <!--Nunito--> 
 <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!--CSS--> 
    <link rel="stylesheet" href="/css/respiracion.css">
    <link rel="stylesheet" href="/css/tapping.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/css/navbar.css" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
</head>

<%- include('./partials/nav') %>

  <!--Estrellas--> 
<body>
    <main>
        <div class="titles" style="margin-left: -150px; margin-bottom: 50px;">
    <h1 style="color:white; margin-bottom: 25px">Tapping</h1>
        <p style="text-align: center">Es una técnica que permite liberar emociones, aliviar el estrés y la ansiedad.<br>Se basa en la acupuntura milenaria, enfocandose en determinados <br>puntos del cuerpo donde se acumula tensión emocional.<br><br></p> 
    </div>

    <div class="cont">
        <div class="cont-1" style="margin-left:200px">
            <p>Instrucciones:</p>
            <br>

            <div class="instruccion">
                <h2>1. Piensa en algún pensamiento o emoción que te preocupe.</h2>
            </div>

            <div class="instruccion">
                <h2>2. Califica del 1 al 10 la intensidad del malestar.</h2>
                    <p>Siendo 0 impercibible y 10 no tolerable.</p>
            </div>

            <div class="instruccion">
                <h2>3. Define una frase postiva.</h2>
                <p>Ej. "Yo me acepto completa y profundamente."</p>
                <p>"Aquí y ahora estoy a salvo."</p>
                <p>"Estoy abiert@ a aceptarme completa y profundamente."</p>
            </div>

            <div class="instruccion">
                <h2>Agrega a la frase "Aunque" + "Emoción negativa" + "Frase positiva". Ej. "Aunque siento ansiedad, aquí y ahora estoy a salvo." <br> Repite la
                    frase que hayas elegido mientras haces pequeños toques (golpecitos suaves) en los siguiente puntos:</h2>
                <ul>
                    <br>
                    <li>1. Golpetea arriba de las cejas.</li>
                    <li>2. Golpetea por debajo de los ojos.</li>
                    <li>3. Golpetea a un costado de los ojos.</li>
                    <li>4. Golpetea por debajo de la nariz.</li>
                    <li>5. Golpetea en la barbilla.</li>
                    <li>6. Golpetea por debajo de la clavícula.</li>
                </ul>
            </div>
        </aside>
    </div>

    <div class="cont-2">
            <div class="short">
            <iframe width="500" height="700" src="https://www.youtube.com/embed/jMOE0zazVMs" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    </div>

    <div class="back">
        <a href="/misejercicios"><button style="margin-bottom: 50px;">Volver</button></a>
    </div>
</main>
<br>
<br>
<br>
<br>
</body>