header{
    width: 100%;
    background-image: linear-gradient(180deg, rgb(9, 8, 35) -52%, rgb(19, 22, 45) 0%, rgba(68,137,196,0.05228028711484589) 49%, #4489c400 100%), url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1650499717/Por%20Ti/fondo-login_kfumtl.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header::before{
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}