@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body{
  margin: 0; 
  padding: 0;
}

.main{
background: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1655491397/Por%20Ti/fondo_login_gk172y.png) no-repeat center center;
background-size: cover;
}

.fondo-login{
width: 50%;
height: 100%;
position: absolute;
z-index: 1;
top: 20;
left: 15vw;
background-color: white;
opacity: 40%;
font-family: 'Nunito', sans-serif;;  
font-style: light;
backdrop-filter: blur(2px);
}
.h2{
font-family: 'Poppins', sans-serif;
font-size: 42;
color: white;
text-align: center;
}
.body-text{
color: white;
font-family: 'Nunito', sans-serif;;  
font-weight: 300;
text-align: center;
font-size: medium;
}
form {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #eceffc;
font-family: 'Nunito', sans-serif;
backdrop-filter: blur(2px);
}
input{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: none;
border-bottom: 2px solid white;
background-color: none;
}

body {
margin:0;
padding:0;
font-family: sans-serif;
background: linear-gradient(#141e30, #243b55);
background: #141e30;
height: 100vh;
}

.login-box {
position: absolute;
top: 50%;
left: 50%;
width: 600px;
padding: 40px;
padding-bottom: 70px;
transform: translate(-50%, -50%);
background: rgba(0,0,0,.3);
box-sizing: border-box;
box-shadow: 0 15px 25px rgba(0,0,0,.6);
border-radius: 10px;
backdrop-filter: blur(2px);

}

.login-box h2 {
margin: 0 0 30px;
padding: 0;
color: #fff;
text-align: center;
}

.login-box .user-box {
position: relative;
}

.login-box .user-box input {
width: 100%;
padding: 10px 0;
font-size: 16px;
color: #fff;
margin-bottom: 30px;
border: none;
border-bottom: 1px solid #fff;
outline: none;
background: transparent;
}
.login-box .user-box label {
position: absolute;
top:0;
left: 0;
padding: 10px 0;
font-size: 16px;
color: #fff;
pointer-events: none;
transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
top: -20px;
left: 0;
color: lavender;
font-size: 12px;
}

button{
font-family: 'Poppins', sans-serif;
font-weight: 600;
font-size: medium;
border-radius: 50px;
text-decoration: none;
border: none;
padding: 15px;
width:  16em;
background-color: rgb(254, 223, 200);
color: rgb(65, 64, 105);
text-align: center;
margin: 0 auto;
margin-top: 15px;
}

button:hover{
background-color: rgba(254, 223, 200, 0.8);
transition:background-color 0.3s ease-in-out;
cursor: pointer;
}

p{
text-align: center;
color: #FEDFC8;
font-size: 15;
}

a{
text-align: center;
color: lavender;
font-size: 15;
}

a:hover{
cursor: pointer;
}

.site-footer
{
background-color:#161430;
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color:#737373;
position: relative;
}
.site-footer hr
{
border-top-color:#bbb;
opacity:0.5
}
.site-footer hr.small
{
margin:20px 0
}
.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:#737373;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
padding-left:0;
list-style:none
}
.footer-links li
{
display:block
}
.footer-links a
{
color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:right
}
.site-footer .social-icons a
{
width:40px;
height:40px;
line-height:40px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color:#33353d
}
.copyright-text
{
margin:0
}
@media (max-width:991px)
{
.site-footer [class^=col-]
{
margin-bottom:30px
}
}
@media (max-width:767px)
{
.site-footer
{
padding-bottom:0
}
.site-footer .copyright-text,.site-footer .social-icons
{
text-align:center
}
}
.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
background-color:#eceeef;
color:#818a91;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.facebook:hover
{
background-color:#3b5998
}
.social-icons a.twitter:hover
{
background-color:#00aced
}
.social-icons a.linkedin:hover
{
background-color:#007bb6
}
.social-icons a.dribbble:hover
{
background-color:#ea4c89
}
@media (max-width:767px)
{
.social-icons li.title
{
display:block;
margin-right:0;
font-weight:600
}
}

.image {
background-color: #490D40;
background: url(https://sonorangirl.github.io/Earth-Quotes/img/google-earth-view-South-Iceland3.jpg) no-repeat center center;
background-size: cover;
height: 570px;
margin-top: -20px;
}

.heading {
 color: white;
 text-align: center;
 padding-top: 200px;
}

p {
 text-align: center;
 padding: 20px 60px;
 
}
 p .btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-size: 1.2em;
        
}

.navbar {
height: 80px;
background-color: transparent;
border: none;
color: white;
z-index: 100;
transition: background-color 1s ease 0s;
}


.navbar-default .navbar-brand {
margin-top: 10px;
color: white;
}


 .icon-bar {
   color: #C57ED3;
   background-color: #C57ED3;

 }


.navbar-collapse.collapse.in ul {
background-color: #490D40;
}




/* Solid class attached on scroll past first section */

.navbar.solid {
background-color: #490D40;
transition: background-color 1s ease 0s;
box-shadow: 0 0 4px grey;
}
.navbar-brand {
 color: #C57ED3;
 transition: color 1s ease 0s;
}


.about {
background-color: #C57ED3;
color: #490D40;
height: 600px;
text-align: center;
margin-top: -20px;  
}

h2 {
 padding-top: 220px;
}

p {
  color: white;
 padding: 20px 80px;
}

.alert{
  font-family: 'Nunito', sans-serif;
  color: red;
  text-align: center;
  margin:auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 0;
}

input[type=checkbox]{
  cursor: pointer;
  width: 15px;
  height: 15px;
}


input[type=checkbox]:checked:after {
  background-color: white;
  color:black;
}