@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700:800;900;1,200;1,300;1,400;&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bs-navbar-brand-color{ 
	color:white;
};

.bs-navbar-toggler-border-color{
	color:white;
}

.bs-navbar-brand-hover-color{
	color: white;
}

.bs-navbar-hover-color {
	color: white;
}

.bs-navbar-disabled-color {
	color: white;
}

.bs-navbar-active-color {
	color: white;
}

.nav{
	overflow-x: hidden;
}


.navbar-nav{
	font-weight: 200;
}

#nav-gradient{
	background: linear-gradient(#111425, rgba(17, 20, 37, 0));
	color: white;
	position: fixed;
}

*.navbar{
	color: white;
}

.navbar-nav{
	position: relative;
	top: -450px;
}

.navbar-brand{
	position: relative;
	top: -450px;
}

.collapse{
	position: relative;
}

.navbar-toggler{
	position: relative;
	top: -420px;
	color: white;
}

.navbar-toggler:hover{
	color: lavender;
}

.navbar-toggler-icon{
	color: white;
}

#navbarNavDropdown{
	color: white;
}


#nav-gradient{
	background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1650499717/Por%20Ti/fondo-login_kfumtl.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 1080px;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
} 

.nav-item{
	margin-right: 50px;
	font-weight: 200;
	font-style: normal;
}

li:hover{
   text-decoration-line: underline;
   text-decoration-color: rgb(254, 223, 200);
   text-decoration-thickness: 3px;
}

*.navbar{
	background-color: #111425;
	border-radius: 0;
}

a.nav-link{
	font-family: 'Poppins', 'Nunito', 'Fredoka', 'sans-serif';
	color: white;
	font-weight: 200;
}

.banner-text{
	color: white;
}

.bigTitle{
	z-index: 2;
    position: absolute;
    top:40vh;
    width: 100%;
	font-family: 'Poppins', 'sans-serif';
	font-weight: 800;
	font-size: 15vw;
	padding-left: 100px;
}

.smallTitle{
    z-index: 3;
    position: absolute;
    top: 50vh;
    width: 50%;
	font-family: 'Nunito', sans-serif;
    font-size: 28px;
	padding-left: 100px;
   }

   *.nav-link{
	font-weight: 300;
   }

@media (max-width: 991px) {
*{
	box-sizing: border-box;
}

.navbar-brand{
	top: -420px;
}

.navbar-nav{
	top: -420px;
}

.nav-item{
	margin-right: 0;
}

}

@media (min-width: 992px) and (max-width: 1058px) {
	.bigTitle{
	    top: 35vh;
		margin-left: -2em;
	}
	.smallTitle{
		margin-left: -2em;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
.bigTitle{
	position: absolute;
	right: 0;
	left: 0;
	top: 30%;
	bottom: 0;
	margin: auto;
	text-align: center;
	font-size: 10vw;
}

.smallTitle{
	position: absolute;
	right: 0;
	left: 0;
	margin-top: 30%;
	top: 40%;
	bottom: 0;
	margin: auto;
	text-align: center;
	font-size: 8vw;
}
}

@media (min-width: 0px) and (max-width: 767px) {
	.bigTitle{
		position: absolute;
		right: 0;
		left: 40%;
		top: 25%;
		bottom: 0;
		margin: auto;
		margin-right: 100px;
		text-align: right;
	}
	
	.smallTitle{
		position: absolute;
		right: 0;
		left: 40%;
		top: 35%;
		bottom: 0;
		margin-right: 1em;
		text-align: right;
		font-size: 21px;
	}
}

Bootstrap
Modificar banner con % o em 
Convertir en css grid, a cada caja ponerle un nombre.
flex-grow
inline-content
960 gris system