@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*html, body{
    box-sizing: border-box;
    width: 100vw;
}

.objetivos-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(https://res.cloudinary.com/dc7uyfv94/image/upload/v1662393764/Por%20Ti/fondo-login_gedmgk.png), linear-gradient(to right top, #121035, #1f1b57, #2e267b, #4031a0, #553bc6);
    height: 100%;
}

.main{
    text-align: center;
    color: white;
}

.titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.objetivos-title{
font-family: 'Poppins';
font-weight: 300;
top: 300px;
margin: 0 auto;
font-size: 18px;
padding-bottom: 5px;
}

.objetivos-text{
font-family: 'Poppins';
font-weight: 600;
margin-top: 350px;
margin: 0 auto;
font-size: 32px;
}

h5{
    font-family: 'Poppins';
    font-weight: 400;  
    font-size: medium;
}

.contenedor-objetivos h3{
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 18px;
}

.contenedor-objetivos{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sub-contenedor-objetivos{
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.28);
    border-radius: 50px;
    padding: 50px, 15px;
    width: 600px;
    height: 600px;
    backdrop-filter: blur(2px);
}

#sub-contenedor-objetivos:hover,
#sub-contenedor-objetivos:focus
{
    background-color: rgba(117, 117, 117, 0.20);
    cursor: pointer;
    transition:background-color 0.3s ease-in-out;
}

#sub-contenedor-objetivos--selected
{
    background-color: rgba(117, 117, 117, 0.20);
}

#sub-contenedor-objetivos img{  
    margin-top: 30px;
    height: 200px;
}

.button-register{
font-family: 'Poppins', sans-serif;
font-weight: 600;
font-size: medium;
border-radius: 50px;
text-decoration: none;
border: none;
margin: 50px auto;
padding: 15px;
width:  16em;
background-color: rgb(254, 223, 200);
color: rgb(65, 64, 105);
}

.button-register:hover{
    background-color: rgba(254, 223, 200, 0.8);
    transition:background-color 0.3s ease-in-out;
    cursor: pointer;
}


@media (max-width: 768px){
    .contenedor-objetivos{
        flex-direction: column;
    }   
    #sub-contenedor-objetivos{
        margin: 0em;
        width: fit-content;
        height: fit-content;
  }
}

@media (min-width: 1000px){
    .registro1{
        margin-top: -100px!important;
    }
}

.registro1{
    margin-top: -50px!important;
}