/* Cronología */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{font: 14px "Open Sans", serif; float: left; height: 100%; position: relative; width: 100%;
    background: linear-gradient(rgba(40, 37, 89), #111425);}

main{
    background: linear-gradient(rgba(40, 37, 89), #111425);
    box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45);
}

*{  margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    }

/*Top perfil*/

.datos-perfil{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 400px;
    background: rgb(20,0,36);
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position-y: -5px;
    background-size: cover;
}

.datos-perfil h3 h1{
    font-family: 'Poppins', sans-serif;
    color: white;
}

.buttonBanner{
    position: relative;
    z-index: 1000;
    top: 100px;
    align-self: center;
    text-align: center;
}

a{text-decoration: none;}

li{list-style: none;}

h2{font-family: 'Poppins', sans-serif;
   font-size: 24px; 
   font-weight: 600; 
   margin: 20px 0 10px; 
   text-align: center;
   color: rgb(65, 64, 105)}

.container{
    margin: 0 0 0 40px; 
    max-width: 600px;
    font-family: 'Nunito', sans-serif;
}

.container-fluid{
    margin: 50px;
}

.row{float: left; 
    width: 100%;}

/*= timeline css for data in one side =*/
.timeline{font-family: 'Nunito', sans-serif; float: left; width: 90%; margin: 40px 5%; padding-left: 40px; position: relative; border-left: 1px solid #ccc; box-sizing: border-box;}
.timeline:before, .timeline:after{content: ""; width: 16px; height: 16px; position: absolute; left: -11px; border-radius: 50px;}
.timeline:before{top: -18px;}
.timeline:after{bottom: -18px;}
.timeline li{background-color: rgba(0, 0, 0, 0.28);  border-radius: 50px; float: left; margin-top: 50px; padding: 10px; position: relative; width: 100%;}
.timeline li:first-child{margin-top: 0;}
.timeline li:before{content: ""; width: 40px; height: 1px; background-color: #ccc; position: absolute; top: 50%; left: -41px;}
.timeline li:after{content: ""; width: 7px; height: 7px; background-color: #ccc; position: absolute; top: 50%; margin-top: -3px; left: -45px;}
.timeline-description {border-radius: 50px; text-align: left;}
.timeline-description p h2{margin-top: 15px;}
.timeline-description p:first-child{margin-top: 0;}


.a-session{
    color: lavender;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 21px;
    margin: 0 auto;
    text-decoration: underline;
}