@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    color: white;
}

.navbar-toggler-icon{
    margin-left: 10px;
}

.container{
    padding-left: 3%!important;
}

p{ font-size: 1.2em; font-family: 'Nunito', sans-serif; }

body{
    margin-top: -150px;
}

.instruccion{
    border-radius: 30px;
    text-align: left!important;
    background-color: rgba(203, 177, 227, 0.769);
    padding: 25px 0px 25px 25px;
    margin-bottom: 15px;
}

.instruccion h2{
    text-align: left!important; 
}

h2{
    font-family: 'Nunito', sans-serif!important;
    font-weight: 500px!important;
    text-align: left;
    font-size: 14pt!important;
}

.title-p{
    font-family: 'Nunito', sans-serif;
    text-align: center!important;
    font-size: 12pt;
    color: white;
}

p {
    font-family: 'Nunito', sans-serif;
    text-align: left!important;
    font-size: 12pt;
    padding-bottom: -10px!important;
}

li{
    font-size: 12pt;
}

ul{
    font-family: 'Nunito', sans-serif;
    color: white;
    list-style: none;
    text-align: left;
    font-size: 21px;
}

.cont-2{
    text-align: center;
    margin: 0 auto;
}


::-webkit-scrollbar {
    display: none;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .scene
    {
        position: relative;
        margin: 0;
        top: -15px;
        width: 100%;
        height: 100%;
        background: linear-gradient(#111425, rgba(40, 37, 89));
        box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45);
        background-attachment: fixed;
        overflow: hidden;
        z-index: -100000;
    }
    
    .scene i
    {
        position: absolute;
        background: #fff;
        border-radius: 50%;
        animation: animate linear infinite;
    }
    
    button{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: medium;
        border-radius: 50px;
        text-decoration: none;
        border: none;
        padding: 15px;
        width:  16em;
        background-color: rgb(254, 223, 200);
        color: rgb(65, 64, 105);
        }
        
        button:hover{
            background-color: rgba(254, 223, 200, 0.8);
            transition:background-color 0.3s ease-in-out;
            cursor: pointer;
        }
    
    @keyframes animate
    {
        0%
        {
            opacity: 0;
            transform: translateY(0);
        }
        10%,90%{
        opacity: 1;
        }
        100%
        {
            opacity: 0;
            transform: translateY(-100px);
        }
    }
    
    .hoja1{
        position: absolute;
        bottom: 0;
        left:0;
        height: 300px;
    }
    
    .hoja2{
        position: absolute;
        bottom: 0px;
        right:0;
        height: 300px;
    }
    
    /* 
    COLOR PARA DEGRADADO
    rgba(40, 37, 89) */