<head>
    <meta charset="utf-8" />
   <script src="https://kit.fontawesome.com/a076d05399.js"></script>
   <link rel="stylesheet" href="/css/footer2.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container part1">
  <div class="row align-items-center">
    <div class="col-sm-2">
    <ul class="social-icons">
      <li><a class="dribble" href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
    </ul>
  </div>
    <div class="col-sm-8"></div>
    <div class="col-sm-2"> 
      <a class="navbar-brand" style="opacity: 0.8;" href="/"><img src="/img/Logo_Horizontal.png" id="logo-menu2" alt="logo" height="50px"></img></a>
    </div>
  </div>
</div>

    <div class="container part2">
      <div class="row align-items-center justify-content-center">
        <div class="col-sm-3">
          © 2022 Por Ti
      </div>
      <div class="col-sm-7 align-self-end">
      </div>
      <div class="col-sm-1">
      YouTube
    </div>
    <div class="col-sm-1 align-self-end">
      Podcast
    </div>
      </div>
      </div>

</body>
</div>